body {
    background-color: #0f0f10;
}

.logoimg {
    width: 100%;
    border-radius: 10px;
}

.card {
    width: 50%;
    border-radius: 10px;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;    
}

.card_inner {
    background-color: black;
    color: white;
    font-family: 'Consolas';
    padding-top: 10px;
    font-size: 1.5vw;
    width: 97%;
    height: 95%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

.cards {
    display: flex;
}